@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #f1e6dc;
  --text-blue: #36405e;
  --accent-red: #a23c2e;
  --logo-green: #94a947;
}
body {
  background-color: var(--bg-color);
  background-image: url(svg/Rectangle.svg);
}
/*paper background*/
.paper-bg {
  background-image: url(img/bg-paper.webp);
  background-size: cover;
}
/*text styles*/
h1 {
  font-family: "pulpo-rust-75", serif;
  color: var(--accent-red);
  font-size: clamp(1.5625rem, 0.7292rem + 3.5556vw, 4.0625rem);
}
h2 {
  font-family: "pulpo-rust-75", serif;
  font-size: clamp(1.875rem, 1.4583rem + 1.7778vw, 3.125rem);
  color: white;
  font-weight: 500;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: clamp(1.875rem, 1.6667rem + 0.8889vw, 2.5rem);
  color: var(--text-blue);
}
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: clamp(1.125rem, 1.0833rem + 0.1778vw, 1.25rem);
  color: var(--text-blue);
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.125rem, 1.0833rem + 0.1778vw, 1.25rem);
  font-weight: 600;
  color: var(--text-blue);
}
p {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 0.9583rem + 0.1778vw, 1.125rem);
  font-weight: 400;
  color: var(--text-blue);
}
/*Links*/
a {
  font-family: "Montserrat", sans-serif;
}
a:hover {
  color: var(--accent-red);
}

li a:hover {
  border-bottom: 2px solid;
  border-color: var(--accent-red);
  transition: 150ms ease-in-out;
}
nav ul {
  font-size: clamp(1.125rem, 1.0833rem + 0.1778vw, 1.25rem);
  font-weight: 500;
  color: var(--accent-red);
}
/*classes*/
.mina-ord {
  font-family: "pulpo-rust-25", serif;
  font-size: clamp(1.875rem, 1.6667rem + 0.8889vw, 2.5rem);
  line-height: 1;
}
.flip {
  transform: rotate(-90deg);
}
.flip-right {
  transform: rotate(90deg);
}

.my-bg-hov:hover {
  background-color: #a23c2e;
}
path:hover {
  fill: #a23c2e;
}

/*bg test*/
.bg-animate {
  width: 100%;
  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg,
    rgba(125, 52, 36, 0.641) 25%,
    rgba(125, 100, 36, 0.683) 35%,
    rgba(73, 42, 42, 0.622) 51%,
    rgba(75, 42, 42, 0.484) 54%,
    rgba(174, 125, 96, 0.46) 100%
  );
  animation: AnimateBG 15s ease infinite alternate;
}
.bg-omoss {
  width: 100%;
  background-size: 200% 200%;
  background-image: url(img/move-bg2.webp);
  animation: AnimateBG 25s ease infinite;
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*hover animation*/
.hov-ani:hover {
  animation: ping 2s cubic-bezier(0, 0, 0.2, 1);
}

@keyframes ping {
  65%,
  80% {
    transform: scale(1.5);
    opacity: 0.3;
  }
}

/*spin animation*/

.myspin {
  animation: spin 16s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*FADE IN*/
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1.5s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/*media queries for desktop*/
@media screen and (min-width: 1024px) {
  .hide {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .mobilmeny {
    display: none;
  }
}

/* for mobile*/

@media screen and (max-width: 768px) {
  .paper-bg {
    background-image: url(img/bg-mobile.webp);
    background-size: fill;
  }
  .bg-omoss {
    width: 100%;
    background-size: 150% 150%;
    background-image: url(img/move-bg2.webp);
    animation: AnimateBG 25s ease infinite;
  }
}
