@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #f1e6dc;
  --text-blue: #36405e;
  --accent-red: #a23c2e;
  --logo-green: #94a947;
}
body {
  background-color: var(--bg-color);
}
/*text styles*/
h1 {
  font-family: "pulpo-rust-75", serif;
}
h2 {
  font-family: "pulpo-rust-75", serif;
  font-size: clamp(1.875rem, 1.4583rem + 1.7778vw, 3.125rem);
}
h3 {
  font-family: "pulpo-rust-75", serif;
  font-size: clamp(1.875rem, 1.6667rem + 0.8889vw, 2.5rem);
}
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: clamp(1.125rem, 1.0833rem + 0.1778vw, 1.25rem);
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.125rem, 1.0833rem + 0.1778vw, 1.25rem);
  font-weight: 600;
}
p {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 0.9583rem + 0.1778vw, 1.125rem);
  font-weight: 400;
}

a {
  font-family: "Montserrat", sans-serif;
}
nav ul {
  font-size: clamp(1.125rem, 1.0833rem + 0.1778vw, 1.25rem);
  font-weight: 500;
  color: var(--accent-red);
}
